<?xml version="1.0"?>
<!-- THESE TESTS NEED TO BE RUN IN ORDER!!! -->
<phpunit bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="Session and Flash class tests">
            <file>SessionTest.php</file>
        </testsuite>
    </testsuites>
    <logging>
      <log type="testdox-text" target="test_results.txt" />
    </logging>
</phpunit>
